<html>
    <body bgcolor="00FFFF" align="center">

        <h2 align="center">FORM</h2>
        <form action="/formdata" method="post">
            Name:<input type="text" name="Name"/><br>
            Regdno:<input type="text" name="Regdno"/><br>
            Skills:<select name="Skills" >
                      <option>Select Skills</option>
                      <option>c</option>
                      <option>java</option>
                      <option>html</option>
                      <option>CSS</option>
                      <option>Python</option>
                    </select><br>
           <input type="Submit"/>
        </form>
    </body>
</html>