<!DOCTYPE html>  
 <html>  
 <head>  
  <title>Customer Screen</title>  
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css">
   
</head>  
 <body>
  
  <center>
     <h2>Book Order</h2> 
        <br>
    <form>  
     
        <label>Search stock</label><br>  
       
            <select id="stock" name="stocks">
            <option value="DBS Group Holdings Ltd">DBS</option>
            <option value=" Axis Bank Ltd">AXIS</option>
            <option value="State Bank of India">SBI</option>
            <option value="HDFC Bank Limited">HDFC</option>
            </select>  
                <br></br>
                <label>Order Type</label><br>  
           
                    <select id="type" name="ordertype">
                    <option value="Limit">Limit</option>
                    <option value="Market">Market</option>
                 
                    <br></select>
                    <br>
                    <br>
                    <label>Price</label><br>  
                    <input type="price" name="" default = "150"><br>  
                    </select>  
                        <br></br>
                        <label>Quantity</label><br>
        <input id="cardnumber" name="cardnumber" type="number" required="">
                            </select>   
                            <br>
          <br>
         <input type="button" value="Place Order"> 
          
         


  </form>  
</center>
  <script src="index.js"></script>

 </body>  
</html> 