<html>
    <table border="2">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email Address</th>
        </tr>
        <tr>
         <td>Deepu</td>
         <td>Reddy</td>
         <td>deepureddy837@gmail.com</td>
        </tr>
        <tr>
          <td>Teja</td>
          <td>Reddy</td>
          <td>ravitejareddy466mail.com</td>
        </tr>
        <tr>  
          <td>Keerthi</td>
          <td>Reddy</td>
          <td>madhukeerthi1249@gmail.com</td>
        </tr>
    </table>
</html>